<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ツイートアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo">LOGO</div>
      <div class="header-list">
        <ul>
        </ul>
      </div>
    </div>
    <div class="main">
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-logo">フッター</div>
      <div class="footer-list">
        <ul>
        </ul>
      </div>
    </div>
  </body>
</html>
